name: release
on:
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+"]

permissions:
  id-token: write   # OIDC
  contents: write   # create GitHub release

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    environment: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-release@0.25
      - run: cargo test --all-features
      - uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          command: semver-checks check-release
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - run: cargo release publish --execute --no-confirm --allow-branch '*'
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
      - uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
